/*testing that css stylesheet is linked*/
 body { 
	background-image: url(/assets/images/music-img1.jpg);
}

.topText {
	color: black;
	text-align: center;
}

.secondText {
	text-align: center;
	font-size: 18px;
}

