
 body { 
	background-image: url(../images/music-img1.jpg);
	color: white;
	text-align: center;
	font-size: 22px;
}

.topText {
	color: white;
	text-align: center;
}

.secondText {
	text-align: center;
	font-size: 18px;
	color: white;
}

.question {
	text-align: center;
	font-size: 18px;
	color: white;
	border-bottom: 30px;
}

.timer {
	text-align: center;
	font-size: 40px;
	color: cyan;
	border-bottom: 40px;
}

.start-button {
	border-top: 50px;
}