
 body { 
	background-image: url(../images/music-img1.jpg);
	color: white;
	text-align: center;
	font-size: 22px;
}

.topText {
	color: white;
	text-align: center;
}

.secondText {
	text-align: center;
	font-size: 18px;
	color: white;
}

